@media(max-width: 1400px) {
    body {
        width: 100%;
    }

    .divImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .divImg img {
        max-width: 700px;
        max-height: 700px;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: 50px;
    }

    main {
        justify-content: center;
        display: block;
    }

    .infoText {
        text-align: center;
    }

    p {
        margin: 0 auto;
    }
    
    .divBtn {
        justify-content: center;
    }

    br {
        display: none;
    }
}

@media(max-width: 1150px) {
    nav {
        display: block;
    }

    .logoC {
        padding: 15px;
    }

    ul {
        justify-content: center;
    }

    .logoConatiner {
        margin: 0;
        justify-content: center;
    }

    .logoConatiner p {
        margin: 35px 0 0 0;
    }

}

@media(max-width: 920px) {
    nav {
        padding: 0;
    }

    a {
        text-shadow: 1px 6px 10px black;
    }

    ul {
        display: block;
        text-align: center;
        width: 200px;
        margin: 0 auto;
    }

    .container {
        padding: 0;
    }

    .informacao {
        margin: 0;
    }
    
}

@media(max-width: 750px) {
    .divImg {
        display: none;
    }

    br {
        display: block;
    }
}