* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 2000px;
    padding: 0 30px 30px 30px;
}

body {
    display: flex;
    justify-content: center;
    width: 99%;
    background: linear-gradient(
        90deg,
        rgba(74, 6, 82, 0.843),
        rgb(137, 9, 151),
        rgb(129, 19, 141),
        rgb(124, 7, 137),
        rgb(118, 5, 131),
        rgb(122, 12, 134),
        rgb(122, 15, 134),
        rgb(142, 16, 156),
        rgb(96, 13, 105)
    );
}